
.ipynb_checkpoints/catsvsdogs_new-checkpoint.ipynb
corinthian_greek.txt
gallic_roman.txt
.ipynb_checkpoints/rome_or_greek-checkpoint.ipynb
models/stage_1.pth
*.jpg
models/stage_1_after train_mnist.pth
